CREATE or replace TABLE {{table_catalog}}.{{table_schema}}.{{table_name}}(
{% for record in key_records %}
{{ record.column_name }} {{record.data_type_sql}} NOT NULL,
{% endfor %}
{% for record in attribute_records %}
{{ record.column_name }} {{record.data_type_sql}} NULL,
{% endfor %}
__pstage_effective_timestamp TIMESTAMP NOT NULL,
__pstage_expiration_timestamp TIMESTAMP NULL,
__pstage_current_version_indicator BOOLEAN,
__pstage_inserted_timestamp TIMESTAMP NOT NULL,
__pstage_updated_timestamp TIMESTAMP NULL,
__pstage_deleted_indicator BOOLEAN NOT NULL,
__pstage_hash_diff VARCHAR(32) NULL,
__pstage_dedupe_confidence_percent FLOAT NOT NULL,
PRIMARY KEY({% for record in key_records %}{{ record.column_name }},{% endfor %} __pstage_effective_timestamp));